<!DOCTYPE html>
<html>
<head>
    <style>
        @font-face {
          font-family: myFirstFont;
          src: url({{ url_for('static', filename='humor.ttf') }});
          }
          h1, a{
            font-size:50px;
            text-decoration:none;
            font-family:myFirstFont;
          }
    </style>
</head>
<body>
<center><a href="/">KGP GRAPH THEORY</a></center>
<h2>Stacked Bar Chart</h2>

<form action="/graph_theory" method="post">

  <input type="hidden" name="gtype" value="stackbar">

  Title of Graph:<br>
  <input type="text" name="title" value="Means of Getting to Class!">
  <br><br>

  x-axis label: <br>
  <input type="text" name="xlabel" value="Year">
  <br><br>

  y-axis label:<br>
  <input type="text" name="ylabel" value="Numbers">
  <br><br>

  Categories on the x-axis (separated by commas): <br>
  <input type="text" name="xcategories" value="Bus, Cylce, What Class?">
  <br><br>
  Bar category and values for x-axis categories separated by commas<br>
  <input type="text" name="tick1" value="1st year">
  <input type="text" name="val1" value="5, 40, 5">
  <br><br>

  <input type="text" name="tick2" value="2nd year">
  <input type="text" name="val2" value="20, 20, 10">
  <br><br>

  <input type="text" name="tick3" value="3rd year">
  <input type="text" name="val3" value="20, 5, 25">
  <br><br>

  <input type="text" name="tick4" value="">
  <input type="text" name="val4" value="">
  <br><br>

  <input type="text" name="tick5" value="">
  <input type="text" name="val5" value="">
  <br><br>

  <input type="text" name="tick6" value="">
  <input type="text" name="val6" value="">
  <br><br>

  <input type="submit" value="Submit">
</form>


</body>
</html>
